*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(https://taaklocommunity.github.io/cool-background.png);
}

.form{
    text-align: center;
    border: 5px solid red;
    padding: 30px;
    background-color: white;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 100px;
    position: absolute;
    border-radius: 10px;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.clientid{
    outline: none;
    border: 1px solid red;
    padding: 10px;
    border-radius: 10px;
}

.submit{
    border: none;
    padding: 10px;
    margin-top: 20px;
    background-color: tomato;
    color: white;
}

.home{
    border: none;
    padding: 10px;
    margin-top: 20px;
    background-color: tomato;
    color: white;
}

.head{
    text-align: center;
    font-size: 2.5em;
    color: white;
    padding-top: 120px;
}

.headtext{
    text-align: center;
}
