*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgreen;
    font-family: 'Montserrat', sans-serif;
}

.container{
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width:fit-content;
  padding: 20px;
  background-color: white;
  height:max-content;
  text-align: center;
}

.icon{
  font-size: 100px;
  background-color: darkgreen;
  border-radius: 50%;
  width: 120px;
  padding: 20px;
  color: white;
  text-align: center;
  margin: 30px auto;
}

p{
  margin-top: 60px;
  font-weight: bold;
  font-size: 25px;
}

button{
  margin-top: 50px;
  padding: 12px 26px;
  border: 2px solid green;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  background-color: white;
  color: green;

}